# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

# -----------------------------------------------------------------------------
# Database & Storage
# -----------------------------------------------------------------------------
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/rapidpages"

# -----------------------------------------------------------------------------
# App Related
# -----------------------------------------------------------------------------
NEXT_PUBLIC_URL=http://localhost:3000
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=https://app.posthog.com
NEXT_PUBLIC_GA_MEASUREMENT_ID=
OPENAI_API_KEY=
SENTRY_AUTH_TOKEN=
SLACK_WEBHOOK_URL=
RAPIDPAGES_UNSTABLE_STREAMING=

# -----------------------------------------------------------------------------
# Stripe Payments
# -----------------------------------------------------------------------------
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
# Plan ID - Stripe's price_id pairs as URLSearchParams
# Plans with their IDs are defined in src/plans.ts
STRIPE_PLAN_PRICES="0=price_123&1=price_456"

# -----------------------------------------------------------------------------
# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
# -----------------------------------------------------------------------------
NEXTAUTH_SECRET=al2osAbJ+ati5apWKzgHE7v2JHp3Hjb1sBz88XSM2uU=
NEXTAUTH_URL=http://localhost:3000

# -----------------------------------------------------------------------------
# Auth
# -----------------------------------------------------------------------------
# GOOGLE_CLIENT_ID=
# GOOGLE_CLIENT_SECRET=

GITHUB_CLIENT_SECRET=
GITHUB_CLIENT_ID=
